<form [formGroup]="_form">
  <mat-form-field style="width: 100%;">
    <input matInput [formControlName]="'username'" placeholder="Nom d'utilisateur"/>
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input matInput [formControlName]="'password'" placeholder="Mot de passe"/>
  </mat-form-field>
  <div class="centerContent">
    <button mat-raised-button (click)="loggUser()" color="accent">Connexion</button>
  </div>
</form>
