table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

td {
  width: 50%;
  object-fit: contain;
}

h5 {
  margin: 0;
  color: rgba(127, 127, 127, .2);

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

h5:hover {
  color: rgba(127, 127, 127, .6);
}
