<app-basic-widget [(label)]="title"
                  [size]="size"
                  [(position)]="position"
                  [(widgetInfos)]="widgetInfos"
                  [configModal]="configModal">
  <table>
    <tr style="height: 1.5em">
      <td>
        {{ title ? 'Equipe "' + title + '"' : 'Poketeam' }}
      </td>
    </tr>
    <tr>
      <td>
        <mat-grid-list [cols]="3">
          <mat-grid-tile class="pkmnTile" *ngFor="let item of pokelist; let i = index">
            <table>
              <tr>
                <td colspan="2">
                  <img
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ item.id }}.png"/>
                </td>
              </tr>
              <tr>
                <td colspan="2">{{ item.french }}</td>
              </tr>
              <tr>
                <td>
                  <h5>{{ item.english }}</h5>
                </td>
                <td>
                  <h5>{{ item.deutsch }}</h5>
                </td>
              </tr>
            </table>
          </mat-grid-tile>
        </mat-grid-list>
      </td>
    </tr>
  </table>
</app-basic-widget>
