/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-width: 768px;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

* {
  box-sizing: border-box;
  --grid-size-x: 50px;
  --grid-size-y: 50px;
}

.centerContent {
  width: 100%;
  text-align: center;
}

.mat-tab-label {
  flex: 1;
}

.logboxPopupContent {
  width: 35em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
  margin: auto;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-clock, app-pokedex, app-weather-one-day, app-poke-team {
  position: absolute;
  width: 0;
  height: 0;
}

.alert,
.info,
.warning {
  color: white;
  -webkit-transition: all .15s ease, color .35s ease;
  -moz-transition: all .15s ease, color .35s ease;
  -ms-transition: all .15s ease, color .35s ease;
  -o-transition: all .15s ease, color .35s ease;
  transition: all .15s ease, color .35s ease;
}

@keyframes wiggle {
  10%, 90% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  20%, 80% {
    transform: rotate3d(0, 0, 2, 10deg);
  }

  30%, 50%, 70% {
    transform: rotate3d(0, 0, -4, 10deg);
  }

  40%, 60% {
    transform: rotate3d(0, 0, 4, 10deg);
  }
}

.alert:hover,
.info:hover,
.warning:hover {
  animation: wiggle 0.6s ease-in-out both;
}

.alert:hover {
  color: var(--danger)
}

.info:hover {
  color: var(--info)
}

.warning:hover {
  color: var(--warning)
}

mat-dialog-container {
  min-width: 400px;
  width: 30vw !important;
  text-align: center;
}

mat-form-field {
  margin-top: 1em;
  width: 80%;
}
