<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container" style="min-height: 100vh;">
  <mat-sidenav #snav mode="side" style="padding: 1em 1.5em;">
    <app-login>
    </app-login>
    <mat-divider style="margin: 1em 0 1em 0;">
    </mat-divider>
    <app-widget-list>
    </app-widget-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Bonjour {{ username }}</h1>
    </mat-toolbar>
    <app-clock *ngFor="let clock of clocks"
               [options]="clock">
    </app-clock>
    <app-pokedex *ngFor="let pokedex of pokedexs"
                 [options]="pokedex">
    </app-pokedex>
    <app-weather-one-day *ngFor="let weather of weatherOneDay"
                         [options]="weather">
    </app-weather-one-day>
    <app-poke-team *ngFor="let team of pokeTeams"
                   [options]="team">
    </app-poke-team>
    <app-countdown *ngFor="let countdown of countdowns"
                   [options]="countdown">
    </app-countdown>
  </mat-sidenav-content>
</mat-sidenav-container>
