<h1 matDialogTitle>Configuration de Horloge</h1>
<div matDialogContent>
  <form [formGroup]="countdownConfig">
    <mat-form-field>
      <input matInput [formControlName]="'date'" [matDatepicker]="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <br/>
    <table>
      <tr>
        <td>
          <mat-form-field>
            <mat-select [formControlName]="'hours'" placeholder="Heures">
              <mat-option *ngFor="let index of array(24)" [value]="index">
                {{ index }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select [formControlName]="'minutes'" placeholder="Minutes">
              <mat-option *ngFor="let index of array(60)" [value]="index">
                {{ index }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select [formControlName]="'seconds'" placeholder="Seconds">
              <mat-option *ngFor="let index of array(60)" [value]="index">
                {{ index }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
