.dialogContent {
  height: 30vh;
  min-height: 400px;
}

table {
  width: 100%;
}

mat-grid-tile .optMenu {
  position: absolute;
  color: transparent;
  right: 0;
  top: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

mat-grid-tile {
  background-color: transparent;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

mat-grid-tile:hover {
  background-color: rgba(255, 255, 255, .05);
}

mat-grid-tile:hover .optMenu {
  color: inherit;
}

.pkmnTile {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
