<h1 matDialogTitle>Configuration de l'équipe</h1>
<div matDialogContent class="dialogContent">
  <form [formGroup]="poketeam">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput [formControlName]="'team_name'" placeholder="Nom du widget">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput
                   [formControlName]="'search'"
                   placeholder="Nom du pokemon"
                   [matAutocomplete]="pkmnSearch">
          </mat-form-field>
          <mat-autocomplete #pkmnSearch="matAutocomplete"
                            autoActiveFirstOption
                            (optionSelected)="getPokemon($event.option.value)">
            <mat-option *ngFor="let option of pokemonSearchResults" [value]="option.french">
              {{ option.french }} | {{ option.english }} | {{ option.deutsch }}
            </mat-option>
          </mat-autocomplete>
        </td>
      </tr>
    </table>
  </form>
  <mat-grid-list [cols]="3">
    <mat-grid-tile class="pkmnTile" *ngFor="let item of pokelist; let i = index">
      <button class="optMenu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="removePokemon(i)">
          <mat-icon>
            delete_forever
          </mat-icon>
        </button>
      </mat-menu>
      <table>
        <tr>
          <td colspan="2">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ item.id }}.png"/>
          </td>
        </tr>
        <tr>
          <td colspan="2">{{ item.french }}</td>
        </tr>
        <tr>
          <td>
            <h5>{{ item.english }}</h5>
          </td>
          <td>
            <h5>{{ item.deutsch }}</h5>
          </td>
        </tr>
      </table>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="pokelist.length < 6">
      <button mat-icon-button (click)="addPokemon()" [disabled]="!isSearchIsPokemon">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
