<app-basic-widget [label]="title"
                  [size]="size"
                  [(position)]="position"
                  [(widgetInfos)]="widgetInfos"
                  [configModal]="configModal">
  <span class="center">{{ title ? title : 'Compte à rebours'}}</span>
  <div class="text">
    {{ positive ? '+' : '' }}
    {{ days }} J {{ hours }} : {{ minutes }} {{ (seconds % 2 ? '&nbsp;&nbsp;&nbsp;' : ' : ') + seconds }}<br/>
  </div>
</app-basic-widget>
