<h1 matDialogTitle>Configuration de la Météo</h1>
<div matDialogContent>
  <form [formGroup]="weatherOneDayConfig">
    <mat-slide-toggle [formControlName]="'extremum'">Afficher les extrémums</mat-slide-toggle>
    <br/>
    <mat-form-field>
      <input matInput [formControlName]="'city'" placeholder="Ville">
    </mat-form-field>
  </form>
</div>
