<app-basic-widget [label]="title"
                  [size]="size"
                  [(position)]="position"
                  [(widgetInfos)]="widgetInfos"
                  [configModal]="configModal">
  <span class="center">Météo de {{ city }}</span>
  <table class="weatherContent">
    <tr>
      <td><img class="mainIcon" [src]="weatherIcon"/></td>
      <td>
        <table>
          <tr>
            <td class="mainTemperature">
              {{ temperature }} °C
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td>{{ extremum.min }} °C</td>
                  <td>{{ extremum.max }} °C</td>
                </tr>
                <tr>
                  <td><img src="assets/temperature-2.svg"/></td>
                  <td><img src="assets/temperature.svg"/></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</app-basic-widget>
