table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

td {
  width: 50%;
  object-fit: contain;
}

.mainTemperature {
  font-size: 2em;
}

.mainIcon {
  width: 66%;
}

img {
  width: 2em;
}
