<app-basic-widget [(label)]="title"
                  [size]="size"
                  [(position)]="position"
                  [(widgetInfos)]="widgetInfos"
                  [configModal]="configModal">
  <table>
    <tr style="height: 1.5em">
      <td>
        Pokedex
      </td>
    </tr>
    <tr style="height: 2em;">
      <td>
        <form [formGroup]="pokemonSearchForm">
          <mat-form-field style="margin: auto;">
            <input matInput
                   [formControlName]="'search'"
                   placeholder="Nom du pokemon"
                   [matAutocomplete]="pkmnSearch">
          </mat-form-field>
          <mat-autocomplete #pkmnSearch="matAutocomplete"
                            autoActiveFirstOption
                            (optionSelected)="getPokemon($event.option.value)">
            <mat-option *ngFor="let option of pokemonSearchResults" [value]="option.id">
              {{ option.french }} | {{ option.english }}
            </mat-option>
          </mat-autocomplete>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <table *ngIf="pokemonFound">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <img [src]="pokemon.sprites.front"
                         style="max-height: 100%; max-width: 100%; width: 100%; object-fit: contain"/>
                  </td>
                  <td>
                    <img [src]="pokemon.sprites.back"
                         style="max-height: 100%; max-width: 100%; width: 100%; object-fit: contain"/>
                  </td>
                </tr>
                <tr style="height: 2em; font-size: 2em;">
                  <td colspan="2">
                    {{ pokemon.identity.english }}
                  </td>
                </tr>
                <tr style="height: 1em">
                  <td colspan="2">
                    {{ pokemonTypes }}
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td colspan="2">Stats</td>
                </tr>
                <tr>
                  <td>PV :</td>
                  <td>{{ pokemon.stats.pv }}</td>
                </tr>
                <tr>
                  <td>Attaque</td>
                  <td>{{ pokemon.stats.attack }}</td>
                </tr>
                <tr>
                  <td>Défense</td>
                  <td>{{ pokemon.stats.defense }}</td>
                </tr>
                <tr>
                  <td>Attaque Spé</td>
                  <td>{{ pokemon.stats.speAttack }}</td>
                </tr>
                <tr>
                  <td>Défense Spé</td>
                  <td>{{ pokemon.stats.speDefense }}</td>
                </tr>
                <tr>
                  <td>Vitesse</td>
                  <td>{{ pokemon.stats.speed }}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</app-basic-widget>
