<h1 mat-dialog-title>Pas encore parmis nous ??</h1>
<div mat-dialog-content>
  <mat-tab-group [dynamicHeight]="false">
    <mat-tab label="Se connecter">
      <mat-card>
        <app-signin [dialogRef]="dialogRef">
        </app-signin>
      </mat-card>
    </mat-tab>
    <mat-tab label="S'inscrire">
      <mat-card>
        <app-signup [dialogRef]="dialogRef">
        </app-signup>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
