<app-basic-widget [label]="title"
                  [size]="size"
                  [(position)]="position"
                  [(widgetInfos)]="widgetInfos"
                  [configModal]="configModal">
  <span class="center" *ngIf="title">{{ title }}</span>
  <div class="text">
    {{ hours }} : {{ minutes }}{{ seconds % 2 ? '&nbsp;&nbsp;&nbsp;' : ' : ' }}{{ seconds }}<br/>
  </div>
  <div class="text" *ngIf="showDate">
    {{ date.getDate() }} / {{ date.getMonth() + 1 }} / {{ date.getFullYear() }}
  </div>
</app-basic-widget>
