<form [formGroup]="_form">
  <mat-form-field style="width: 100%;">
    <input matInput [formControlName]="'username'" placeholder="Nom d'utilisateur"/>
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input matInput [formControlName]="'mail'" type="email" placeholder="Addresse Mail">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input matInput [formControlName]="'password'" placeholder="Mot de passe"/>
  </mat-form-field>
  <div class="centerContent">
    <mat-dialog-actions>
      <button mat-raised-button (click)="signup()" color="accent">Inscription</button>
    </mat-dialog-actions>
  </div>
</form>
