.buttons {
  text-align: right;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

button {
  left: 60%;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.buttons:hover button {
  left: 0;
}
