<mat-list>
  <mat-list-item>
    <div *ngIf="!logged">
      <button mat-raised-button (click)="openDialog()">Connexion / Inscription</button>
    </div>
    <div *ngIf="logged">
      <button mat-raised-button (click)="logout()">Se déconnecter</button>
    </div>
  </mat-list-item>
</mat-list>
