<h1 matDialogTitle>Configuration de Horloge</h1>
<div matDialogContent>
  <form [formGroup]="clockConfig">
    <mat-slide-toggle [formControlName]="'date'">Afficher la date</mat-slide-toggle>
    <br/>
    <mat-form-field>
      <input matInput [formControlName]="'widget_name'" placeholder="Nom du widget">
    </mat-form-field>
  </form>
</div>
