<mat-accordion>

  <!--
  Clock Widget
  -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Temps
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <app-widget-selector [target-widget]="'clock'">
          Horloge
        </app-widget-selector>
      </mat-list-item>
      <mat-list-item>
        <app-widget-selector [target-widget]="'countdown'">
          Compte à rebour
        </app-widget-selector>
      </mat-list-item>
      <mat-list-item>
        <app-widget-selector [target-widget]="'chrono'">
          Chronomètre
        </app-widget-selector>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <!--
  Weather Widget
  -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Widget Météo
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <app-widget-selector [target-widget]="'weather-one-day'">
          Live
        </app-widget-selector>
      </mat-list-item>
      <mat-list-item>
        <app-widget-selector>
          Journée
        </app-widget-selector>
      </mat-list-item>
      <mat-list-item>
        <app-widget-selector>
          3 Jours
        </app-widget-selector>
      </mat-list-item>
      <mat-list-item>
        <app-widget-selector>
          5 Jours
        </app-widget-selector>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <!--
  Pokemon Widget
  -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Service Pokémons
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <app-widget-selector [target-widget]="'pokedex'">
          Pokédex
        </app-widget-selector>
      </mat-list-item>
      <mat-list-item>
        <app-widget-selector [target-widget]="'poketeam'">
          Team Pokémon
        </app-widget-selector>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
