<div class="widgetContainer animate"
     [style.width.px]="width"
     [style.height.px]="height"
     [style.left.px]="layout.gridSizeX * position.posX"
     [style.top.px]="layout.gridSizeY * position.posY"
     style="position: relative;">
  <mat-card style="width: 100%; height: 100%">
    <mat-card-content class="container">
      <div class="content">
        <ng-content>
        </ng-content>
      </div>
    </mat-card-content>
    <div [ngClass]="{configuration:true, animate: true, 'edit': edit}">
      <span class="scroll-box">
        <span class="scroll" [ngClass]="{animate: true, active: edit}">
          <button mat-icon-button
                  class="alert"
                  (click)="deleteComponent()">
            <mat-icon>
              delete_forever
            </mat-icon>
          </button>
          <button *ngIf="configurable"
                  mat-icon-button
                  class="warning"
                  (click)="settings()">
            <mat-icon>
              settings
            </mat-icon>
          </button>
          <button mwlDraggable
                  class="info"
                  (dragEnd)="drag($event)"
                  [dragSnapGrid]="{x: layout.gridSizeX, y: layout.gridSizeY}"
                  mat-icon-button>
            <mat-icon>
              open_with
            </mat-icon>
          </button>
        </span>
      </span>
      <span class="right">
      <button mat-icon-button (click)="edit = !edit">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </span>
    </div>
  </mat-card>
</div>
