div {
  padding: 10px;
}

mat-card-title {
  text-align: center;
}

mat-card-content {
  text-align: center;
  width: 100%;
  height: 100%;
}

.container {
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.configuration {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
}

mat-card:hover .configuration {
  opacity: 1;
}

.configuration .right {
  float: right;
}

.configuration.edit {
  opacity: 1;
  background-color: rgba(50, 50, 50, .7);
}

.scroll-box {
  overflow: hidden;
  float: right;
  height: 40px;
  width: 100%;
  position: absolute;
  right: 50px;
}

.scroll {
  position: absolute;
  right: -40%;
}

.animate {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.scroll.active {
  right: 0;
}
